/* ================= section_top_rating_products ================= */
.section_top_rating_products {
  padding: 100px 0;
}

.section_top_rating_products_heading {
  text-align: center;
  margin-bottom: 50px;
}

.section_top_rating_products_heading h2 {
  font-size: 42px;
}

.section_top_rating_products_heading .active {
  font-style: italic;
  color: #1f3d2b;
}

.section_top_rating_products_heading .divider {
  margin: 0 15px;
  color: #aaa;
}

.section_top_rating_products_heading .active1 {
  color: #828787;
}

.section_top_rating_products_heading .active1:hover {
  color: #1f3d2b;
}

.section_top_rating_products_card {
  background: #fff;
}

.section_top_rating_products_image {
  position: relative;
  overflow: hidden;
}

.section_top_rating_products_image .product_img {
  width: 100%;
  transition: opacity 0.5s ease, transform 0.6s ease;
}

.product_img_main {
  opacity: 1;
}

.product_img_hover {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.section_top_rating_products_card:hover .product_img_main {
  opacity: 0;
}

.section_top_rating_products_card:hover .product_img_hover {
  opacity: 1;
}

.section_top_rating_products_image .discount {
  position: absolute;
  top: 12px;
  left: 12px;
  background: red;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}

.section_top_rating_products_image .ofs {
  position: absolute;
  top: 12px;
  left: 12px;
  background: #b8b8b8;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
}

/* hover icons */
.section_top_rating_products_actions {
  position: absolute;
  right: 12px;
  top: 30%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.section_top_rating_products_action {
  opacity: 0;
  transform: translateY(25px);
  transition: transform 0.4s ease, opacity 0.4s ease;
  position: relative;
  display: flex;
  align-items: center;
}

.section_top_rating_products_card:hover
.section_top_rating_products_action {
  opacity: 1;
  transform: translateY(0);
}

.section_top_rating_products_card:hover
.section_top_rating_products_action:nth-child(1) {
  transition-delay: 0.05s;
}

.section_top_rating_products_card:hover
.section_top_rating_products_action:nth-child(2) {
  transition-delay: 0.1s;
}

.section_top_rating_products_card:hover
.section_top_rating_products_action:nth-child(3) {
  transition-delay: 0.15s;
}

.section_top_rating_products_card:hover
.section_top_rating_products_action:nth-child(4) {
  transition-delay: 0.2s;
}

/* mouse OUT */
.section_top_rating_products_action:nth-child(1) {
  transition-delay: 0.1s;
}
.section_top_rating_products_action:nth-child(2) {
  transition-delay: 0.2s;
}
.section_top_rating_products_action:nth-child(3) {
  transition-delay: 0.3s;
}
.section_top_rating_products_action:nth-child(4) {
  transition-delay: 0.4s;
}

.section_top_rating_products_action {
  transition: 
    opacity 0.35s ease,
    transform 0.35s ease;
}

/* ========== CONTINUOUS POP (SLOW) ========== */

.section_top_rating_products_action:hover button {
  animation: icon-pop-loop 1.6s ease-in-out infinite; 
}

@keyframes icon-pop-loop {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.12);
  }
  50% {
    transform: scale(0.95);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.section_top_rating_products_action button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
}

.section_top_rating_products_action button i {
  font-size: 16px;
  color: #000;
}

.section_top_rating_products_action:hover button {
  background: #1f3d2b;
}

.section_top_rating_products_action:hover button i {
  color: #fff;
}

/* ===== REMOVE WISHLIST  ===== */

.section_top_rating_products_action button:has(i.remove) {
  background: #1f3d2b;
}

.section_top_rating_products_action button i.remove {
  color: #fff;
}

.section_top_rating_products_action_text {
  position: absolute;
  right: 50px;
  background: black;
  color: #fff;
  font-size: 12px;
  padding: 6px 10px;
  border-radius: 2px;
  white-space: nowrap;
  opacity: 0;
  transform: translateX(6px);
  transition: all 0.3s ease;
  pointer-events: none;
}

.section_top_rating_products_action_text::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -11px;
  transform: translateY(-50%);

  border-width: 6px;
  border-style: solid;
  border-color: transparent transparent transparent #000;
}

.section_top_rating_products_action:hover
.section_top_rating_products_action_text {
  opacity: 1;
  transform: translateX(0);
}

/* ===============info */
.section_top_rating_products_info {
  padding: 15px 0;
}

.section_top_rating_products_info p {
  margin: 6px 0;
  cursor: pointer;
}

.section_top_rating_products_info .rating {
  color: lightgray;
  font-size: 14px;
  cursor: pointer;
}

.section_top_rating_products_info .rating1 {
  color: black;
  font-size: 14px;
  cursor: pointer;
}

.section_top_rating_products_info .price {
  font-size: 15px;
}

.section_top_rating_products_info .price del {
  color: #aaa;
  margin-right: 5px;
}

.section_top_rating_products_info .price .sale {
  color: red;
}

.section_top_rating_products_colors {
  display: flex;
  gap: 8px;
  margin-top: 8px;
}

.section_top_rating_products_colors span {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 1px solid #ccc;
  cursor: pointer;
  box-shadow: inset 0 0 0 3px #fff;
}

.section_top_rating_products_colors span:hover,
.section_top_rating_products_colors span:first-child{
  box-shadow: inset 0 0 0 3px #000;
}

.section_top_rating_products_colors .black { background: #000; }
.section_top_rating_products_colors .pink { background: pink; }
.section_top_rating_products_colors .orange { background: orange; }
.section_top_rating_products_colors .blue { background: blue; }
.section_top_rating_products_colors .red { background: red; }
.section_top_rating_products_colors .grey { background: grey; }
.section_top_rating_products_colors .white { background: #fff; }
.section_top_rating_products_colors .more {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section_top_rating_products_colors .more:hover {
  background: #1f3d2b;
  color: #fff;
  font-size: 1em;
}

.section_top_rating_products_more {
  text-align: center;
  margin-top: 60px;
}

.section_top_rating_products_more a {
  display: inline-block;
  padding: 18px 32px;
  border: 1px solid #000;
  border-radius: 50%;
  text-decoration: none;
  color: #000;
}

.section_top_rating_products_more a:hover {
  animation: view-more-left-right-once 0.7s ease;
}

@keyframes view-more-left-right-once {
  0%   { transform: translateX(0); }
  35%  { transform: translateX(8px); }
  65%  { transform: translateX(-6px); }
  100% { transform: translateX(0); }
}

/* ========== COLOR NAME TOOLTIP ========== */

.section_top_rating_products_colors span {
  position: relative;
}

.section_top_rating_products_colors span::after {
  content: attr(data-color);
  position: absolute;
  bottom: 160%;
  left: 50%;

  background: #111;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  white-space: nowrap;
  border-radius: 2px;

  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.section_top_rating_products_colors span::before {
  content: "";
  position: absolute;
  bottom: 120%;
  left: 50%;

  border: 5px solid transparent;
  border-top-color: #111;

  opacity: 0;
  transition: all 0.25s ease;
}

.section_top_rating_products_colors span:hover::after,
.section_top_rating_products_colors span:hover::before {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}

/* ==========ADD TO BAG========== */

.section_top_rating_products_add_to_bag {
  position: absolute;
  left: 0px;
  right: 0px;
  bottom: 0px;
  transform: translateX(-50%) translateY(20px);
  background: white;
  padding: 14px 18px;
  text-align: center;
  opacity: 0;
  transition: all 0.35s ease;
}

/* show ONLY on card hover */
.section_top_rating_products_card:hover
.section_top_rating_products_add_to_bag {
  opacity: 1;
  transform:translateY(0);
}

.section_top_rating_products_add_to_bag_title {
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 10px;
  color: #222;
}

.section_top_rating_products_add_to_bag_sizes {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.section_top_rating_products_add_to_bag_sizes span {
  padding: 6px 14px;
  font-size: 13px;
  cursor: pointer;
  background: #eee;
  color: #000;
  transition: 0.25s;
  pointer-events: auto;
}

.section_top_rating_products_add_to_bag_sizes span.active,
.section_top_rating_products_add_to_bag_sizes span:hover {
  background: #222;
  color: #fff;
}

/* ==========ADD TO CART========== */
.section_cart_action{
  position: relative;
}

.section_top_rating_products_action__cart_pill{
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 8px;

  background: #fff;
  padding: 6px 12px;
  border-radius: 30px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.12);

  opacity: 0;
  pointer-events: none;
  transition: all 0.25s ease;
}

.section_cart_action:hover .section_top_rating_products_action__cart_pill{
  opacity: 1;
  pointer-events: auto;
}

.section_top_rating_products_action__cart_pill .pill-btn{
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  cursor: pointer;
}

.section_top_rating_products_action__cart_pill .pill-count{
  min-width: 12px;
  text-align: center;
  font-size: 14px;
}
